:root {
    --main-color1: #83C27D;
    --main-color2: hwb(171 10% 20%);
    --main-color3:  hsla(143, 4%, 36%, 0.545);
    --text-color: hsl(200, 100%, 0%);
}

.night {
    --main-color1: #000000;
    --main-color2: #0C3D0B;
    --main-color3: #3F454F;
    --text-color: hsl(0, 0%, 100%);
}

html, body {
    background: linear-gradient(
        135deg, var(--main-color1), var(--main-color2)
    );
    background-attachment: fixed;
    color: var(--text-color);
    font-family: sans-serif;
}

main {
    margin-left: 17vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    position: fixed;
    left: 0px;
    width: 15vw;
    top: 0;
    bottom: 0;
    padding-top: 30px;
    overflow-y: auto;
    backdrop-filter: blur(10px);
}

p {
    line-height: 1.2em;
}

.nav-link {
    color: var(--text-color);
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    transition: 0.2s ease;
}

.nav-link:hover {
    color: crimson;
    transform: scale(1.1);
    
}

.nav-link:active {
    color: var(--text-color);
    text-decoration: none;
}

.hlavna-sekcia {
    width: 85%;
    margin-top: 80px;
    margin-right: 5vw;
    background: var(--main-color1);
    box-shadow: 5px 5px 7px 5px var(--main-color3);
    padding: 25px;
}

.bez-navigacie {
    display: grid;
    justify-content: center;
    align-items: space-around;
    width: 100%;
}

.basen {
    top: 200px;
    margin: auto;
    
}

.dlha {
    columns: 2;
}

.schovate {
    display: none;
}

.download-button {
    width: 30vw;
    height: 60px;
    margin: 20px;
    padding: 4px;
    border: none;
    border-radius: 12px;
    color: black;
    background: lightgrey;
    box-shadow: 5px 5px 7px 5px var(--main-color3);
    font-size: 1.1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    transition: 0.2s ease;
}

.download-button:hover {
    color: crimson;
    transform: translateY(-3px);
}

.download-button:active {
    box-shadow: 1px 1px 7px 5px var(--main-color3);
    transform: translateY(1px);
}

.tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div[class="tab"] p {
    grid-column: span 2;
    font-size: 1.5em;
    text-shadow: 1.5px 1.5px 2px var(--main-color3);
    margin-left: 20%;
}

.playback {
    display: inline-block;
    background: lightgrey;
    border: none;
    width: 55px;
    height: 55px;
    margin: 25px;
    border-radius: 12px;
    box-shadow: 5px 5px 7px 5px var(--main-color3);
    font-size: 2em;
    transition: 0.2s ease;
}

.playback:hover {
    color: crimson;
    transform: translateY(-3px);
}

.playback:active {
    box-shadow: 1px 1px 7px 5px var(--main-color3);
    transform: translateY(1px);
}


#night {
    position: fixed;
    font-size: 2em; 
    right: 2vw;
    top: 2vh;
    background: white;
    border: none;
    border-radius: 12px;
    padding: 10px;
    
}

#menu {
    display: none;
}

@media screen and (max-width:768px) {

main {
    margin: auto;
}

nav {
    top: 0;
    left: -100%;
    width: 30vw;
    padding-top: 30px;
    padding-bottom: 30px;
    transition: all 0.2 ease;
}

h1 {
    line-height: 2em;
}



.active {
    left: 0;
}

.bez-navigacie {
    display: grid;
    justify-content: center;
    align-items: space-around;
    width: 100%;
    margin: auto;
}

.bez-navigacie h1 {
    text-align: center;
}


.hlavna-sekcia {
    margin-top: 80px;
    margin-left: 5px;
    margin-right: 5px;
    width: 90%;
}

.basen {
    line-height: 1.5em;
    margin: 0;
}

.dlha {
    columns: 1;
}

.download-button {
    width: 90%;
}


.playback {
    box-sizing: content-box;
    
}

#menu {
    display: inline;
    position: fixed;
    font-size: 2.1em; 
    right: 80px;
    top: 2vh;
    background: white;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

}